@import 'tailwindcss';
:root {
  --background: #cce9f6;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  margin: 0;
  
}


.title-div{
  .title{
    font-family: "Inter";
    font-size: large;
    font-weight: bold;
  }
}